<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <h2 routerLink="/" style="cursor: pointer;">TechStore</h2>
    </div>
    
    <ul class="nav-menu">
      @if (result.isLoading()) {
        <li><span class="nav-link text-muted">Yükleniyor...</span></li>
      } @else {
        @for(val of data(); track val.id) {
          <li><a [routerLink]="['/products', val.id]" class="nav-link">{{val.name}}</a></li>
        }
      }
    </ul>

    <div class="nav-icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-shopping-cart"></i>
      <i class="fas fa-user"></i>
    </div>
  </div>
</nav>